# Автоматическое определение текстовых файлов, в репозитории — LF
* text=auto

# Явно: скрипты всегда в LF
*.sh text eol=lf
*.py text eol=lf

.* text eol=lf

# Windows-батники в CRLF
*.bat text eol=crlf
